name: Eyeon Unit Testing
on: [push]
jobs:
  testing:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set Up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Virtual Environment Setup
        run: |
          python3 -m venv .venv
      - name: Install Dependencies
        run: |
          source .venv/bin/activate
          pip install -e .
          echo "Packages installed"
      - name: Run Unittests
        run: |
          source .venv/bin/activate
          coverage run --source=src/ -m unittest discover -s tests/
          coverage report
